@import "../../VariablesAndMixins.scss";


.errorCode{
    padding: 12rem 0 2rem;
    text-align: center;
    color: $red-color;
    font-size: 8rem;
    font-weight: 700;
    @include tablet-view{
        padding: 18rem 0 2rem;
    }
    }


.errorMsg{
    display: flex;  
    flex-wrap: wrap;
    justify-content: center;  
    text-align: center;
    color: $red-color;
    line-height: 5rem;
    // font-size: 1.25rem;
    font-weight: 500;

}

.linkToHome{
    display: block;
    width: 100%;
    text-decoration: none;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;

}
